@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 font-body px-5 bg-opacity-95;
  }
  .bg-user {
    @apply bg-slate-900 font-body px-5 bg-opacity-90;
  }
}

@layer components {
  .page-container {
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
}
